cx_Freeze
torch
torchvision
timm
scipy
scikit-learn
opencv-python-headless
tqdm
safetensors
transformers
tokenizers
regex
PyYAML
fsspec
filelock
networkx
sympy
mpmath
huggingface_hub
requests
urllib3
certifi
charset-normalizer
idna
joblib
threadpoolctl
